/* Paleta de Cores
Cor do Fundo (Preto Claro): #141212
Preto: #000000
Vermelho: #961212
Cinza: #5C5A5A
Branco: #FFFFFF
*/


/* Home */

/* Imagem Superior */
#img_inicial {
    top: 66px;
    position: relative;
    width: 100%;
    /* height: 400px; */
}

#img_inicial p {
    padding-left: 7px;
    color: #FFFFFF;
    display: inline;
    font-size: 10px;
}

#img_inicial p a {
    vertical-align: top;
    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
}

#img_inicial img {
    height: 70vh;
    width: 100%;
    border: 5px solid #000000;
    object-fit: cover;
    object-position: top;

    transition: 0.3s;
}

#img_inicial:hover img {
    transform: scale(1.015);
    border: 0px solid #000000;
}


/* Textos */

/* Texto Origem */
#historia {
    top: 900px;
    height: 1300px;
}

#titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: max(20px, 3vw);
    color: #FFFFFF;
    top: 30vh;
    width: 100%;
    display: flex;
    margin-left: 225px;
    position: relative;
    display: inline;
}


/* Parte 1 */
#flex_origem {
    display: flex;
    height: 600px;
    top: 110px;
    position: relative;
}


#origem {
    text-indent: 2em;
    color: #FFFFFF;
    font-size: max(12px, 1.4vw);
    position: relative;
    top: 190px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem {
    width: 40vw;
    height: 50vh;
    display: flex;
    position: relative;
    top: 180px;
    text-align: right;
}

#img_origem img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
    margin-right: 5%;
}

#img_origem:hover img {
    transform: scale(1.1);
}

#origem_fonte p {
    height: 15px;
    color: #FFFFFF;
    display: inline;
    font-size: min(10px, 1vw);
    position: relative;
}

#origem_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
}


/* Parte 2 */
#flex_origem2 {
    display: flex;
    height: 550px;
    top: 50px;
    position: relative;
}

#origem2 {
    text-indent: 2em;
    color: #FFFFFF;
    font-size: max(12px, 1.4vw);
    position: relative;
    top: 130px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem2 {
    width: 40vw;
    height: 100vh;
    display: flex;
    position: relative;
    top: 10px;
    text-align: right;
}

#img_origem2 img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
    margin-left: 5%;
}

#img_origem2:hover img {
    transform: scale(1.1);
}

#origem2_fonte p {
    height: 15px;
    color: #FFFFFF;
    display: inline;
    font-size: min(10px, 1vw);
    position: relative;
}

#origem2_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
}

/* Parte 3 */
#flex_origem3 {
    display: flex;
    height: 550px;
    top: 50px;
    position: relative;
}

#origem3 {
    text-indent: 2em;
    color: #FFFFFF;
    font-size: max(12px, 1.4vw);
    position: relative;
    top: 130px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
}


#img_origem3 {
    width: 40vw;
    height: 60vh;
    display: flex;
    position: relative;
    top: 130px;
    text-align: right;
}

#img_origem3 img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
    margin-right: 5%;
}

#img_origem3:hover img {
    transform: scale(1.1);
}

#origem3_fonte p {
    height: 15px;
    color: #FFFFFF;
    display: inline;
    font-size: min(10px, 1vw);
    position: relative;
}

#origem3_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
    
}



/* Pq Zelda é muito melhor que Free Fire? */

#vs {
    font-size: max(12px, 1.4vw);
    width: 100%;
    color: #FFFFFF;
    position: relative;
    text-align: left;
    padding: 20px;
    margin-top: 45%;
}

#vs_h1 {
    display: inline-block;
    padding-left: 30px;
    top: 50vh;
    width: 100%;
    display: flex;
    margin-left: 225px;
    margin-bottom: -125px;
}

#flex_vs {
    display: flex;
    height: 550px;
    top: 50px;
    position: relative;
}

#vs_texto {
    text-indent: 2em;
    color: #FFFFFF;
    font-size: max(12px, 1.4vw);
    position: relative;
    top: 130px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
    margin-right: 5%;
}

#vs_fonte p {
    height: 15px;
    color: #FFFFFF;
    display: inline;
    font-size: min(10px, 1vw);
    position: relative;
}

#vs_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
    
}
#img_vs {
    width: 43vw;
    height: max-content;
    top: 50%;
}

#img_vs img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    top: 200px;
    position: relative;
    transition: .3s;
    object-fit: contain;
}

#img_vs:hover img {
    transform: scale(1.1);
}

/* Som */

#som {
    font-size: max(12px, 1.4vw);
    width: 100%;
    color: #FFFFFF;
    top: 120px;
    position: relative;
    text-align: left;
    padding: 10px;
    margin-top: 10%;
}

#som h1 {
    display: inline-block;
    padding-left: 30px;
    top: 50vh;
    width: 100%;
    display: flex;
    margin-left: 225px;
    margin-bottom: -80px;
}

#flex_som {
    width: 100%;
    display: flex;
    height: 440px;
    position: relative;
}


#img_som {
    width: 50vw;
    height: 55vh;
    display: flex;
    top: 70px;
    position: relative;
    margin-top: 10%;
}

#img_som img {
    width: auto;
    height: auto;
    transition: 0.3s;
    object-fit: contain;
}

#img_som:hover img {
    transform: scale(1.1);
}

#som_texto {
    text-indent: 2em;
    color: #FFFFFF;
    font-size: max(12px, 1.4vw);
    position: relative;
    top: 130px;
    display: block-flex;
    text-align: left;
    text-align: justify;
    width: 42%;
    height: 400px;
    margin-right: 5%;
}

#som_fonte p {
    height: 15px;
    color: #FFFFFF;
    display: inline;
    font-size: min(10px, 1vw);
    position: relative;
}

#som_fonte p a {
    text-decoration: none;
    text-decoration: underline;
    color: #FFFFFF;
    
}



/* Várias imagens  */
#imagens {
    font-size: max(30px, 1.4vw);
    width: 100%;
    color: #FFFFFF;
    top: 120px;
    position: relative;
    text-align: left;
    padding: 10px;
    margin-top: 10%;
}

#flex_imagens {
    width: 100%;
    display: flex;
    height: 600px;
    position: relative;
}

#div_ul_imagens {
    width: 100%;
    top: 200px;
}

#div_ul_imagens p{
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    padding: 10px;
    top: 100px;
}

#imagens_ul{
    text-align: center;
}

#imagens li {
    top: 150px;
    height: 14%;
    width: 25vw;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#imagens img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: inline-block;
    transition: .3s;
    position: relative;
}

#div_ul_imagens li:hover img {
    transform: scale(1.1);
}

audio{
    width: 40%;
    margin-top: 10%;
}
#audio_1{
    width: 100%;
    text-align: center;
    position: relative;
}

/*Rodapé*/

footer {
    top: 200px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    position: relative;
}